nav {
    background: #41BEAD;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    font-weight: bolder;
    margin-right: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.information{
    background: #FFB402;
    color: white;
    text-align: center;
    padding: 55px 0;
}
.information p {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}
.information h1 {
    font-weight: bold;
    font-size: 35px;
}
.text {
    text-align: center;
}
.images img{
    width: 400px;
    border: 10px solid #39bbaa;
    border-radius: 95px;
    margin-left: 10px;
    margin-top: 25px;
}
.images article {
    display: flex;
    align-items: flex-start;
    margin: 20px auto;
}
.images {
    display: flex;
    align-items: center;
    margin-left: 0%;
}
.team {
    background: #66b9f8;
    text-align: center;
    color: white;
    border-top: 10px solid #92cdfb;
    border-bottom: 10px solid #878787;
    padding-top: 50px;
    padding-bottom: 150px;
    margin-top: 120px;
}
.team p{
    width: 52%;
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: 18px;
}
.team input{
    padding: 10px 20px;
    padding-left: 7px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 20px;
}
::placeholder {
    color: white;
}
.team button {
    background: #ff9100;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 9px -10px rgba(0,0,0,0.75);
}
.team h1 {
    font-size: 35px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #565656;
}
footer ul {
    list-style: none;
    margin-right: 7%;
    color: white;
}
footer ul li a {
    margin-bottom: 10px;
    font-size: 13px;
    text-decoration: none;
    color: white;
}
.siner img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.siner article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.siner article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.siner article h3 {
    width: 70%;
    margin-left:20px;
}
.siner {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.zverev img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.zverev article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.zverev article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.zverev article h3 {
    width: 70%;
    margin-left:20px;
}
.zverev {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.alkaraz img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.alkaraz article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.alkaraz article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.alkaraz article h3 {
    width: 70%;
    margin-left:20px;
}
.alkaraz {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.fritz img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.fritz article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.fritz article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.fritz article h3 {
    width: 70%;
    margin-left:20px;
}
.fritz {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.medvedev img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.medvedev article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.medvedev article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.medvedev article h3 {
    width: 70%;
    margin-left:20px;
}
.medvedev {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.rud img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.rud article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.rud article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.rud article h3 {
    width: 70%;
    margin-left:20px;
}
.rud {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.novak img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.novak article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.novak article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.novak article h3 {
    width: 70%;
    margin-left:20px;
}
.novak {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.minuar img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.minuar article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.minuar article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.minuar article h3 {
    width: 70%;
    margin-left:20px;
}
.minuar {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.andrey img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.andrey article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.andrey article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.andrey article h3 {
    width: 70%;
    margin-left:20px;
}
.andrey {
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.grisho img{
    width: 400px;
    border: 10px solid #39bbaa;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 95px;
}
.grisho article {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
}
.grisho article h2 {
    width: 70%;
    margin-left:20px;
    background: #39bbaa;
    font-weight: bold;
}
.grisho article h3 {
    width: 70%;
    margin-left:20px;
}
.grisho {
    display: flex;
    align-items: center;
    margin-left: 12%;
}